#principal{
width: 600px;
height: 800px;
border: solid 1px;
margin: 0 auto;
text-align:center;

}

#apresentacao{
  font-size: large;
  margin: 0 auto;

  width: 400px;
  height: 100px;
  margin-top:200px;
  
  
}

#apresentacao p{
 border: solid 1px;
  padding-top:20px;
  padding-bottom:20px;
  background-color: #CECECE;
  
}
