#principal{
width: 600px;
height: 800px;
border: solid 0px;
margin: 0 auto;

}

#apresentacao{
  font-size: large;
  background-color:#CECECE;
  width: 400px;
  height: 100px;
  margin-top:200px;
  
  
}
